#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

a a:visited a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

.page {
  max-width: 68.75rem;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
  text-decoration: none;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.home {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.home:hover {
  background-color: var(--azul1);
  transform: scale(1.05);
}

.link {
  color: #fff;
  text-decoration: none;
}

.container-coins {
  width: 100%;
  margin: auto 0;
  padding: 0.625rem;
}

.search {
  width: 60%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: 0 0 10px lightblue;
}

.icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--dark);
}

.coin-item {
  background-color: var(--degradado);
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 100%;
  box-shadow:
    inset 0 -3em 3em rgba(47, 67, 177, 0.1),
    0 0  0 2px rgb(81, 137, 182),
    0.3em 0.3em 1em rgba(27, 14, 77, 0.3);
}

.coin-item:nth-child(3n+1) {
  background-color: var(--azul1);
}

.coin-item:nth-child(3n+2) {
  background-color: var(--azul2);
}

.coin-item:nth-child(3n+3) {
  background-color: var(--azul3);
}

.btn-item {
  background: none;
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
}

.container-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-coin {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  padding: 0;
  margin: auto 0;
}

footer {
  background-color: #32ef8f;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: var(--dark);
  margin-top: 20px;
}
