* {
  font-family: 'Gill Sans', sans-serif;
  box-sizing: border-box;
}

:root {
  --azulbg: #4d66b1;
  --azul1: #6385e3;
  --azul2: #4c64b0;
  --azul3: #3c4e81;
  --dark: #1a2c64;
  --degradado: linear-gradient(90deg, var(--azul1), var(--azul3));
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background: var(--azulbg);
  font-size: 16px;
  color: #fff;
}
