* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px;*/
  min-height: 100vh; 
  background: #94a6db;
  font-size: 16px;
  color: #fff;
}

